body   
{background-image: url(https://images.unsplash.com/photo-1498898733745-c8c6df58e4ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);}

h1{
    color:rgb(236,136,21);
    font-size: 40px;
}

a{
    font-family:fantasy
}

h2{
    color: rgb(236,136,21); font-size: 22px;
}
    
p, li{
    color: rgb(198,228,242); font-size: 17px;
}
    
h3{
    color: rgb(30,30,30);
}

h1, h2, p, li{
    font-family:monospace;
}

a {
	max-height: 35px;
  list-style-type: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  background-color: rgb(198,228,242);
  float: center;
  color: rgb(236,136,21);
	margin-right: 30px;
}

table, th, td {
    border: solid 4px rgb(236,136,21) ; color: rgb(198,228,242);
}